#hero {
    margin-top: -55px;
    .slider {
        background-size: cover;
        background-position: center center;
        max-height: 550px;
        height: 550px;
        @extend .p-t-80;
        @extend .p-b-50;

        .title {      
            @extend .m-t-50;
            @extend .m-b-15;      
            color: $blue-grey-900;
            font-weight: $font-weight-normal;
            line-height: 45px;
            font-size: 50px;      
        
        span{
            font-weight: $font-weight-light;
            font-size: 30px;            
        }
        strong{
            font-weight: $font-weight-bold;
        }
        }
        .sub-title{            
            @extend .m-b-0;
            color: $grey-600;            
            max-width: 400px;
            font-size: 16px;
        }

        .slider_form {
            position: relative;
            padding: 20px;
            background: $white;
            border-radius: $border-radius-large;
            bottom: -65px;
            box-shadow: 0px 5px 20px 0px rgba($black, 0.07);

            margin: 0 auto;
            >p{
                font-weight: $font-weight-bold;
            }
        }

        > div {
        height: 100%;
        }
    }
    .inner-banner {
        @extend .p-t-0;
        @extend .p-b-0;
        max-height: 300px;
        height: 300px;
        background-size: cover;
        background-position: center center;
        position: relative;        

        .container {
            height: 100%;

            .title {
                @extend .m-t-0;
                @extend .m-b-0;
                font-weight: $font-weight-normal;
                color: $blue-grey-900;
                font-size: 30px;
                line-height: 30px;                
                position: absolute;
                top: 50%;
                transform: translateY(-50%);               

                big {
                    font-size: 50px;
                    line-height: 50px;
                }
            }
        }
    }
}