#footer {
    @extend .m-t-50;
    padding-top: 80px;
    background-color: #eceeef;    

    .form {
        border-radius: 5px;
        padding: 30px;
        margin-top: -130px;
        background: $white;
        box-shadow: 0px 0px 15px 0px rgba($black, 0.2);

        h4 {
            font-weight: $font-weight-semi;
            font-size: 22px;
            line-height: 38px;
            color: #AAAAAA;            
        }
        .float-right {
            width: 50%;
            .form-group {
                @extend .m-r-30;
                width: calc(100% - 200px);

                .form-control {
                    line-height: 16px;
                }
            }
        }
        .btn-round {
            @extend .p-l-50;
            @extend .p-r-50;
        }
    }
    .fcard {
        @extend .m-b-30;

        p {
            color: $grey-700;
            font-weight: $font-weight-normal;
            line-height: 24px;
        }
        .social {
            a {
                color: #2d3035;
            }
        }
        &.links {
            li {
                line-height: 35px;
                a {
                    @extend .p-l-20;
                    color: $grey-700;
                    position: relative;                    

                    &::before {
                        content: "\f2fb";
                        position: absolute;
                        left: 0;
                        font-size: 15px;
                        font-family: "Material-Design-Iconic-Font";
                    }

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
        &.contact {
            li {
                i {
                width: 25px;
                }
            }
        }
    }

    .title {
        color: $grey-900;
        font-weight: 500;
        font-size: 20px;
        @extend .m-b-20;
        @extend .p-t-20;
    }

    .copyright {
        background-color: $white;
        padding: 10px 0;
        @extend .m-t-20;

        p {
            @extend .margin-0;
        }
    }
}