.our-team-page {
    .section-title.right {
        p {
            font-size: 16px;
        }
    }
    .team-box {
        @extend .m-t-30;
    }

    .upcoming-event {
        .common-cnt {
            .section-top {
                p {
                    color: $grey-500;
                }
            }
            .staf-info {
                .counter.timer {
                    @extend .m-b-10;
                    font-size: 40px;
                    line-height: 40px;
                    color: $grey-500;                    
                    display: block;
                }
                p{
                    @extend .m-b-0;
                    font-size: 16px;
                    line-height: 20px;
                    color: $grey-500;
                    font-weight: $font-weight-light;                    
                }
            }
        }
    }
    .our-team{
        @extend .p-t-70;
        @extend .p-b-50;
    }
}